li{
    padding: 5px;
}
li:hover{
    background-color: rgb(66, 180, 66);
    margin-right: 90%;
    border-radius: 25%;
    opacity: 0.8;
    text-shadow:2px 2px black;
}

div{
    float: left;
    padding-left: 40px;
}
div:hover{
    border: 5px solid rgb(38, 99, 38);
}
img{
    height: 100px;
    width: 100px;
}
.img1{
    transform: rotate(235deg);
}
.img2{
    transform: scale(0.1);
}
.img3{
    transform: scale(2.0);
}
.img4:hover{
    opacity: 0.2;
}