@keyframes slidein {
    from{
        margin-left: 99%;
    }
    to{
        margin-left: 0%;
    }
}
div {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    box-shadow: 10px 10px 5px rgb(161, 100, 77);
}

.divClass {
    animation: slidein 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}